<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="../static/jquery-3.6.0.js"></script>
	<!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" href="../static/csscode/login.css"> -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<style>
		/*   
#body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   background-color: white;
    background-size: cover;
} */
	</style>
</head>

<body>
	<div class="d-flex flex-column min-vh-100 bg-secondary bg-opacity-10">
		<!-- <nav id="man">
			<div class="container-fluid">
				<div class="navbar-header">

				</div>
			</div>
		</nav> -->

		<div class="container m-auto">
		<a href="register">New Candidate</a>
			<h2 class="text-center text-primary mb-5 mt-4"> Welcome </h2>
			<div class="row justify-content-center">
				<div class="col-sm-6">
					<div class="card px-3 py-5 shadow">
						<div class="card-body">
							<div class="card-title text-center mb-4 text-info">
								<h3>Login</h3>
							</div>
							<!-- <div class="inputbox"> -->
							<div class="form-floating mb-3">
								<input type="text" id="eid"
									class="form-control shadow-none border-0 border-bottom border-dark rounded-0"
									placeholder="Employee ID" />
								<label for="eid">Employee ID</label>
								<!-- </div> -->
							</div>

							<!-- <div class="inputbox"> -->
							<div class="form-floating mb-5">
								<input type="password" id="pass" required=""
									class="form-control shadow-none border-0 border-bottom border-dark rounded-0"
									placeholder="Password" />
								<label for="pass"> Password</label>
								<!-- </div> -->
							</div>


							<!-- <div id="data"> -->
							<div class="text-center">
								<input type="submit" id="btn_login" value="Submit"
									class="btn btn-info btn-lg w-100 text-light shadow-none">
							</div>
							<!-- </div> -->


							<div style="display: none;">
								<input type="text" id="data" value="{{mesge}}">
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="my-4"></div>
	</div>

	<script src="/static/bootstrap.bundle.js"></script>
	<script src="/static/api/restapi.js"></script>
</body>

</html>