<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Operations Candidate View</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <!-- Default-JavaScript-File -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" />
	          <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          <!-- //Default-JavaScript-File -->
        <style>
            #wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -16rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 16rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -16rem;
  }
}
.multi_selection_box{
    width: 100%;
    margin: 800px auto;


}

.multi_selection_box select{
    width:15%
}
label{
    font-size:15px
}

                    
                    
.active, .btn:hover {
        background-color: rgb(18, 19, 18);
        color: white;
                    }
 table, th, td {
              border:2px solid black;
              text-align: center;
            }



        </style>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
           
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                 <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm">
                  <div class="container-fluid">
                      
                    <div id="myDIV" >
                      <button class="" ><a href='./recruiterhomepage' ><i class="fa fa-home" aria-hidden="true">Home</i> </a></button>
                        <button class="" ><a href='./recruiterpage' >New Recruitement</a></button>
                        <button class="" ><a href='./selectedcandidates'>Selected Candidate</a></button>
                        <button class="" ><a href='./savedcandidatesnew'>Approved Candidates</a></button>
                        <button class="" ><a href='./rejectedcandidates'>Rejected Candidates</a></button>
                        <button class="" ><a href='login'>Logout</a></button>
                     
                    </div>
                  </div>
              </nav> 
                <!-- Page content-->
                
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-6">
                                      <h4 class="mt-4 text-center" style="padding-top: 2%;">
                                        Candidate Information</h4>
                                      <br>
                                      <div class="row justify-content-around mt-2">
                                    <div class="col-sm-12">
                                        <div style="
                                        top: 20%;
                                        width:90%;
                                        height: 95%;
                                        background: rgba(240, 234, 234, 0.8);
                                        box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
                                        margin: 0% 8%">
                                        <div class="row">
                                            {% if data is defined %}
                                      <div class="col-lg-12 " style="padding-top: 10px;">
                                        
                                          <div class="col-lg-12">
                                            <div class="col-lg-6">
                                        <label for="client_name" class="form-label">Candidate Id</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" id="cid" class="form-label" value="{{cid}}" style="background: rgba(240, 234, 234, 0.8);border: none;font-size:15px;font-weight:bold;">
                                    </div>

                                    </div>
									<div class="col-lg-12">
                                            <div class="col-lg-6">
                                        <label for="client_name" class="form-label">First Name</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" id="fname" class="form-label" value="{{data[0][1]}}" style="background: rgba(240, 234, 234, 0.8);border: none;font-size:15px;font-weight:bold;">
                                    </div>

                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                        <label for="client_name" class="form-label">Last Name</label> 
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" id="lname"  class="form-label" value="{{data[0][2]}}" style="background: rgba(240, 234, 234, 0.8);border: none;font-size:15px;font-weight:bold;"/> 
                                    </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                        <label for="target_date" class="form-label"> Date Of Birth</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="client_name" class="form-label">{{data[0][3]}}</label> 
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="target_date" class="form-label">Age</label>
                                        </div>
                                       
                                        <div class="col-lg-6">
                                            <label for="client_name"  class="form-label"> {{data[0][4]}}</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="target_date" class="form-label">Gender</label>
                                        </div>
                                       
                                        <div class="col-lg-6">
                                            <label for="client_name" class="form-label">{{data[0][5]}}</label>  
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="target_date" class="form-label">Current Address</label>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="target_date" class="form-label">{{data[0][6]}}</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="target_date" class="form-label">Street Address</label>
                                        </div>

                                        
                                        <div class="col-lg-6">
                                            <label  for="target_date" class="form-label">{{data[0][7]}}</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="client_name" class="form-label">City</label>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="client_name" class="form-label">{{data[0][8]}}</label> 
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="client_name" class="form-label">Pincode</label>
                                        </div>
                                       
                                        <div class="col-lg-6">
                                            <label for="client_name"  class="form-label"> {{data[0][9]}}</label>
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="client_name" class="form-label">state</label>
                                            </div>
                                            
                                            <div class="col-lg-6">
                                                <label for="client_name" class="form-label">{{data[0][10]}}</label> 
                                            </div>
                                            </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="target_date" class="form-label">Email Address</label>
                                            </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="client_name"  class="form-label"> {{data[0][11]}}</label>
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="target_date" class="form-label">Mobile Number</label>
                                            </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="client_name" class="form-label">{{data[0][12]}}</label>
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="target_date" class="form-label">Aadhar Number</label>
                                            </div>
                                       
                                        <div class="col-lg-6">
                                           <input type="text"  id="aadhar_num" class="form-label" value="{{data[0][13]}}" style="background: rgba(240, 234, 234, 0.8);border: none;font-size:15px;font-weight:bold;"> 
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="target_date" class="form-label">Qualification</label>
                                            </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="client_name" class="form-label">{{data[0][14]}}</label> 
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="target_date" class="form-label">Experience</label>
                                            </div>
                                       
                                        <div class="col-lg-6">
                                            <label for="client_name"  class="form-label"> {{data[0][15]}}</label>
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="target_date" class="form-label">How did you hear about us </label>
                                            </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="client_name" class="form-label">{{data[0][17]}}</label> 
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="target_date" class="form-label">Language</label>
                                            </div>
                                       
                                        <div class="col-lg-6">
                                            <label for="client_name"  class="form-label"> {{data[0][18]}}</label>
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="target_date" class="form-label"> Available Start Date</label>
                                            </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="client_name"  class="form-label"> {{data[0][19]}}</label>
                                        </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label for="target_date" class="form-label">Cover Letter </label>
                                            </div>
                                        
                                        <div class="col-lg-6">
                                            <label for="client_name"  class="form-label"> {{data[0][21]}}</label>
                                        </div>
                                       </div>
									   <div class="col-lg-12">
                                            <div class="col-lg-6">
                                        <label for="client_name" class="form-label">Operation Manager Name</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" id="intname" class="form-label" value="{{mgr}}" style="background: rgba(240, 234, 234, 0.8);border: none;font-size:15px;font-weight:bold;">
                                    </div>

                                    </div>
									   <div class="col-lg-12">
                                            <div class="col-lg-6">
                                        <label for="client_name" class="form-label">Process Name</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" id="pname" class="form-label" value="{{pname}}" style="background: rgba(240, 234, 234, 0.8);border: none;font-size:15px;font-weight:bold;">
                                    </div>

                                    </div>
                                      </div>
                                      <div class="col-lg-6"  style="padding-top: 10px;">
                                        

                                      </div>   
                                     
                                      <br><br>
                                     
                                        
                                    </div> 

                                </div>    
                            </div >
                                
                                    </div>
                                  

                        </div>


                        
                    
       



       
            <div class="col-lg-6">
                            <h4 class="mt-4 text-center" style="padding-top: 2%;">
                                Candidate Interview Schedule Form</h4>
                            <br>
                            <div class="row justify-content-around mt-2">
                          <div class="col-sm-12">
                              <div style="
                              top: 20%;
                              width:100%;
                              height: 95%;
                              background: rgba(240, 234, 234, 0.8);
                              box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
                              margin: 0% 8%">
                              <div class="row">
                                
                                <iframe src="../static/resumes/{{data[0][20]}}" width="100%" height="600px">
                                </iframe>
             
                                  </div> 
                                  {% endif %}
                          </div> 
                          
                      </div>    
                  </div >
                      
                          </div>
                          <div class="col-lg-6 " style="padding-top: 4%;float:left" >
                            <h4 class="mt-4 text-center" style="padding-top: 2%;">
                                Recruiter Assessment Form</h4>
                            <br>
                            <div class="row justify-content-around mt-2">
                          <div class="col-sm-12">
                              <div style="
                              top: 20%;
                              width:90%;
                              height: 105%;
                              background: rgba(240, 234, 234, 0.8);
                              box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
                              margin: 0% 8%">
                        
                         
                        <div >
                            <div>
                                
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="client_name" class="form-label">Understands the process requirements</label>
										  
								<select class="form-control shadow-sm" name="Understands" id="Understands">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
                                  </div> 
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="client_name" class="form-label"> Job Knowledge / Work Experience </label>
										  
										  
								<select class="form-control shadow-sm" name="workexperience" id="workexperience">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
                                  </div> 
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="client_name" class="form-label">Result Oriented/ Initiative</label>
									<select class="form-control shadow-sm" name="initiative" id="initiative">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
									
                                  </div> 
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="client_name" class="form-label">Languages Known and fluency</label>
								<select class="form-control shadow-sm" name="language" id="language">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
                                  </div> 
                        
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="client_name" class="form-label">Communication Skills (Speaking/Presenting)</label>
										  
								<select class="form-control shadow-sm" name="Communicationskills" id="Communicationskills">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
                                  </div> 
                        
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="client_name" class="form-label">Personality, Listening/Empathy</label>
										  
								<select class="form-control shadow-sm" name="Personality" id="Personality">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
                                  </div> 
                        
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="client_name" class="form-label">Thinks Strategically</label>
										  
								<select class="form-control shadow-sm" name="Strategically" id="Strategically">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
                                  </div> 
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="client_name" class="form-label">Team Player</label>
										  
								<select class="form-control shadow-sm" name="teamplayer" id="teamplayer">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
                                  </div> 
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="client_name" class="form-label">Flexibility to work in shifts</label>
										  
								<select class="form-control shadow-sm" name="shifts_flexibility" id="shifts_flexibility">
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
                                  </div> 
								   
                                  <div class="col-sm-10 col-10 mb-1">
                                    <label for="comments" class="form-label">Comments</label>
										  
								<textarea rows="3" id="comments" class="form-control shadow-sm" name="comments" placeholder="Comments "></textarea>
                                  </div> 
                                  <div class="col-sm-10 col-10 mb-1" id="reject" style="padding-top: 3%;display:none">
                                    <textarea rows="4" id="rejcomments" placeholder="Type the Reason For Rejection "></textarea>
                        
                                      </textarea>
                                      <button type="submit" class="btn btn-success col-2" onclick="submit()">submit</button> 
                                  </div>
                        </div>
                          <div class="col-sm-10 col-10 mb-1" style="padding-top: 5%;">
                          <button type="submit" class="btn btn-success col-2" onclick="save()">Save</button> 
                          <button type="submit" class="btn btn-primary col-2" onclick="pass()">Shortlist</button> 
                          <button type="submit" class=" btn btn-danger col-2" onclick="reject()">Reject</button>
                          
                        </div>
                        </div>
                          
                            
                        </div>    
                        </div >
                        
                        
                          </div>
                         
                        
                        </div>
                        
                        </div>
                         </div>
                           </div>
              </div>

<script>
               
           function reject()
        {
            debugger;
            document.getElementById('reject').style.display='block'
        }   


        function submit()

    {
        debugger;
       
         var cid=document.getElementById('cid').value;
    var interviewer=document.getElementById('intname').value;
    var Understanding=document.getElementById('Understands').value;
    var workexperience=document.getElementById('workexperience').value;
    var initiative=document.getElementById('initiative').value;
    var language=document.getElementById('language').value;
    var Communicationskills=document.getElementById('Communicationskills').value;
    var Personality=document.getElementById('Personality').value;
    var Strategically=document.getElementById('Strategically').value;
    var teamplayer=document.getElementById('teamplayer').value;
    var shifts_flexibility=document.getElementById('shifts_flexibility').value;
    var comments=document.getElementById('comments').value;
    var rejectcomments=document.getElementById('rejcomments').value;
    var pname=document.getElementById('pname').value;



        $.ajax({
           type: 'GET',
           url: '/recstatusuploadsave1',
     
       contentType: 'application/json;charset=UTF-8',
           data: {
           
            'cid':cid,
        'interviewer':'Recruiter',
        'Understanding':Understanding,
        'workexperience':workexperience,
        'initiative':initiative,
        'language':language,
        'Communicationskills':Communicationskills,
        'Personality':Personality,
        'Strategically':Strategically,
        'teamplayer':teamplayer,
        'shifts_flexibility':shifts_flexibility,
		'status':'Rejected',
		'comments':comments,
        'rejectcomments': rejectcomments,
        'pname': pname

       },
           
       dataType:"json",
           success: function(data) {
            alert(data);
            window.location='recruiterpage'
       
           },
       });
    }



function pass()

{
    debugger;
   
    var cid=document.getElementById('cid').value;
    var interviewer=document.getElementById('intname').value;
    var Understanding=document.getElementById('Understands').value;
    var workexperience=document.getElementById('workexperience').value;
    var initiative=document.getElementById('initiative').value;
    var language=document.getElementById('language').value;
    var Communicationskills=document.getElementById('Communicationskills').value;
    var Personality=document.getElementById('Personality').value;
    var Strategically=document.getElementById('Strategically').value;
    var teamplayer=document.getElementById('teamplayer').value;
    var shifts_flexibility=document.getElementById('shifts_flexibility').value;
    var comments=document.getElementById('comments').value;
    var pname=document.getElementById('pname').value;



    $.ajax({
       type: 'GET',
       url: '/recstatusuploadsave',
 
   contentType: 'application/json;charset=UTF-8',
       data: {       
        'cid':cid,
        'interviewer':'Recruiter',
        'Understanding':Understanding,
        'workexperience':workexperience,
        'initiative':initiative,
        'language':language,
        'Communicationskills':Communicationskills,
        'Personality':Personality,
        'Strategically':Strategically,
        'teamplayer':teamplayer,
        'shifts_flexibility':shifts_flexibility,		
		'comments':comments,
		'status':'Shortlisted',
        'pname': pname
   },
       
   dataType:"json",
       success: function(data) {
        alert(data);
        window.location='recruiterpage'
   
       },
   });
}



function save()

{
    debugger;
   
    var cid=document.getElementById('cid').value;
    var interviewer=document.getElementById('intname').value;
    var Understanding=document.getElementById('Understands').value;
    var workexperience=document.getElementById('workexperience').value;
    var initiative=document.getElementById('initiative').value;
    var language=document.getElementById('language').value;
    var Communicationskills=document.getElementById('Communicationskills').value;
    var Personality=document.getElementById('Personality').value;
    var Strategically=document.getElementById('Strategically').value;
    var teamplayer=document.getElementById('teamplayer').value;
    var shifts_flexibility=document.getElementById('shifts_flexibility').value;
    var comments=document.getElementById('comments').value;
    var pname=document.getElementById('pname').value;



    $.ajax({
       type: 'GET',
       url: '/recstatusuploadsave',
 
   contentType: 'application/json;charset=UTF-8',
       data: {       
        'cid':cid,
        'interviewer':'Recruiter',
        'Understanding':Understanding,
        'workexperience':workexperience,
        'initiative':initiative,
        'language':language,
        'Communicationskills':Communicationskills,
        'Personality':Personality,
        'Strategically':Strategically,
        'teamplayer':teamplayer,
        'shifts_flexibility':shifts_flexibility,
		'comments':comments,
		'status':'Saved',
        'pname': pname
   },
       
   dataType:"json",
       success: function(data) {
        alert(data);
        window.location='recruiterpage'
   
       },
   });
}

	
{% if flagger==1 %}

document.getElementById('Understands').value="{{interviewdata[0][3]}}";
document.getElementById('workexperience').value="{{interviewdata[0][4]}}";
document.getElementById('initiative').value="{{interviewdata[0][5]}}";
document.getElementById('language').value="{{interviewdata[0][6]}}";
document.getElementById('Communicationskills').value="{{interviewdata[0][7]}}";
document.getElementById('Personality').value="{{interviewdata[0][8]}}";
document.getElementById('Strategically').value="{{interviewdata[0][9]}}";
document.getElementById('teamplayer').value="{{interviewdata[0][10]}}";
document.getElementById('shifts_flexibility').value="{{interviewdata[0][11]}}";
document.getElementById('comments').value="{{interviewdata[0][12]}}";

{% endif %}

  
</script>
    
</body>
</html>